{% extends 'base.html' %}

{% block content %}
<h1>Lista de Pacientes</h1>
<br>
<div class="mb-3">
    <a href="{% url 'crear_paciente' %}" class="btn btn-primary">Crear Nuevo Paciente</a>
</div>

{% if pacientes %}
<div class="table-responsive">
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th class="text-center">Nombre</th>
                <th class="text-center">Apellido</th>
                <th class="text-center">Edad</th>
                <th class="text-center">Genero</th>
                <th class="text-center">Dirección</th>
                <th class="text-center">Teléfono</th>
                <th class="text-center">Historia Clínica</th>
                <th class="text-center">Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for paciente in pacientes %}
            <tr>
                <td class="text-center"><a href="{% url 'detalle_paciente' paciente.id %}">{{ paciente.nombre }}</a></td>
                <td class="text-center">{{ paciente.apellido }}</td>
                <td class="text-center">{{ paciente.edad }}</td>
                <td class="text-center">{{ paciente.genero }}</td>
                <td class="text-center">{{ paciente.direccion }}</td>
                <td class="text-center">{{ paciente.telefono }}</td>
                <td class="text-center">
                    <a href="{% url 'detalle_paciente' paciente.id %}" class="btn btn-info btn-sm">Ver Historia Clínica</a>
                </td>   
                {% if user.is_authenticated %}
                {% if user.usuario.rol.nombre == 'doctor' or user.usuario.rol.nombre == 'admin' %}
                <td class="text-center">
                    <a href="{% url 'editar_paciente' paciente.id %}" class="btn btn-info btn-sm">Editar</a>
                    <!-- Botón para abrir el modal de confirmación -->
                    <button class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#confirmarEliminacion{{ paciente.id }}">
                        Eliminar
                    </button>
                {% endif %}
                {% endif %}
                   <!-- Modal de confirmación -->
                    <div class="modal fade" id="confirmarEliminacion{{ paciente.id }}" tabindex="-1" aria-labelledby="modalLabel{{ paciente.id }}" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="modalLabel{{ paciente.id }}">Confirmar Eliminación</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    ¿Estás seguro de que deseas eliminar al paciente <strong>{{ paciente.nombre }} {{ paciente.apellido }}</strong>?
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                                    <form action="{% url 'eliminar_paciente' paciente.id %}" method="POST" style="display: inline;">
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-danger">Eliminar</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% else %}
    <p>No hay pacientes registrados</p>
{% endif %}

{% endblock %}
