{% extends 'base.html' %}

{% block content %}
<h1>Lista de Usuarios</h1>
<br>
<div class="mb-3">
    <a href="{% url 'crear_usuario' %}" class="btn btn-primary">Crear Nuevo Usuario</a>
</div>

{% if usuarios %}
<div class="table-responsive">
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th class="text-center">Nombre de Usuario</th>
                <th class="text-center">Correo</th>
                <th class="text-center">Rol</th>
                <th class="text-center">Teléfono</th>
                <th class="text-center">Dirección</th>
                <th class="text-center">Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for usuario in usuarios %}
            <tr>
                <td class="text-center"><a href="{% url 'detalle_usuario' usuario.id %}">{{ usuario.user.username }}</a></td>
                <td class="text-center">{{ usuario.user.email }}</td>
                <td class="text-center">{{ usuario.rol.nombre }}</td>
                <td class="text-center">{{ usuario.telefono }}</td>
                <td class="text-center">{{ usuario.direccion }}</td>
                <td class="text-center">
                    
                    <a href="{% url 'editar_usuario' usuario.id %}" class="btn btn-info btn-sm">Editar</a>
                    <!-- Botón para abrir el modal de confirmación -->
                    <button class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#confirmarEliminacion{{ usuario.id }}">
                        Eliminar
                    </button>

                    <!-- Modal de confirmación -->
                    <div class="modal fade" id="confirmarEliminacion{{ usuario.id }}" tabindex="-1" aria-labelledby="modalLabel{{ usuario.id }}" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="modalLabel{{ usuario.id }}">Confirmar Eliminación</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    ¿Estás seguro de que deseas eliminar al usuario <strong>{{ usuario.user.username }}</strong>?
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                                    <a href="{% url 'eliminar_usuario' usuario.id %}" class="btn btn-danger">Eliminar</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% else %}
    <p>No hay usuarios registrados</p>
{% endif %}

{% endblock %}
